
.primary-navbar {
    background: #7b1e10;
        padding: 14px 0;
}
.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav li {
    display: inline-block;
    margin: 0 15px;
}
.main-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 13px;
}
.section-footer {
    background: #7b1e10;
    padding: 75px 0;
}
.footer-wrapper ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}
.footer-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.about-section h1 {
    font-weight: 700;
    margin: -33px 0 43px 0px;
}
.about-section p {
    margin: 0 100px 57px 0;
    line-height: 2;
}
.about-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.owl-carousel {
    margin: 50px 0 0 0;
}
.conference-section h1 {
    margin: 0 0 50px 0px;
}
.conference-section .row {
    margin: 30px 0;
}
.conference-section ul {
    margin: 0;
    list-style: none;
    padding: 60px 0 0 0;
}
.con-wrapper p {
    padding: 0px 185px 0 0;
}
#hero-banner {
    margin: -50px 0 0 
}
.more-btn-section .btn {
    background: #7b1e10;
}
section {
    padding: 70px 0;
}
.con-wrapper .row {
    margin: 30px 0;
}
.search-top {
    position: absolute;
    right: 0;
}
.footer-wrapper p {
    color: #fff;
    padding: 0 68px;
}
.bottom-header {
    background: #7b1e10;
}
.bottom-header ul li a {
    color: #fff !important;
}
.bottom-header ul li {
    padding-right: 38px;
}
.owl-nav {
    display: none;
}


@media only screen and (max-width: 974px) {
  .about-section p {
    margin: 0 0px 57px 0;
    line-height: 2;
}
.con-wrapper p {
    padding: 0px 0px 0 0;
}
}